<div class="container">
    <div class="activity">
        <div class="header">
            2023 - PRESENT
        </div>
        <div class="main">
            <div>Head of Technology & Co-founder, IKA Homes & Properties</div>
            <ul>
                <li>Make decisions, oversee and implement necessary systems and processes that aid the startup to save cost and maximize resources</li>
                <li>Lead the development and  implementation of the startup’s flagship mobile app for both android and ios platforms</li>
            </ul>
            <div>
                <app-skill-pill [Skills]="['Flutter', 'Dart']"></app-skill-pill>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="header">
            2022 - PRESENT
        </div>
        <div class="main">
            <div>Applications Developer, CalBank PLC</div>
            <ul>
                <li>Develop updates  and maintain the Bank’s Collection platform which handles  over GHS 150m worth of transactions monthly</li>
                
                <li>Develop updates and maintain the Agent Banking System which handles over GHS 80m worth of transactions monthly</li>
                <li>Led the implementation of the new Legal Contracts & Securities System which saved the bank from having to pay penalty fee to the central bank (BoG) in order to address security concerns</li>
                <li>Develop and maintain AppHive, a suite of bespoke softwares that aid the bank to perform its day-to-day operations by saving cost and time</li>
                <li>Implement API integrations into 3rd party systems</li>
                <li>Collaborate with designers, project managers, business owners and other developers to transform creative concepts to production realities</li>
            </ul>
            <div>
                <app-skill-pill [Skills]="['C#', '.NET', 'ASPNET MVC']"></app-skill-pill>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="header">
            2022 - DEC 2022
        </div>
        <div class="main">
            <div>Software Engineer & Co-founder, NutonLabs Technologies</div>
            <ul>
                <li>Led discussions and implementation of digital solutions for customers based on their needs points or requirements</li>
            </ul>
            <div>
                <app-skill-pill [Skills]="['C#', '.NET', 'Angular', 'Blazor']"></app-skill-pill>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="header">
            2019 - 2021
        </div>
        <div class="main">
            <div>Applications Developer, National Health Insurance Authority</div>
            <ul>
                <li>Develop E-Receipt 2, a bespoke software to aid the Authority perform its day-to-day operations across the various branches</li>
                <li>Develop NAVIS API, a RESTful API to assist NHIS third parties (e.g.: banks) verify the Membership cards used by the public to access services at their centers. </li>
                <li>Maintained and provided support for other bespoke solutions used by the organization</li>
            </ul>
            <div>
                <app-skill-pill [Skills]="['C#', '.NET', 'Angular']"></app-skill-pill>
            </div>
        </div>
    </div>
    <div class="activity">
        <div class="header">
            2017 - 2019
        </div>
        <div class="main">
            <div>Programmer, Accolm Ghana</div>
            <ul>
                <li>Developed updates and maintained BAM, a business activity monitoring tool for Managed File Transfer(MFT) products</li>
                <li>Developed and maintained a hospital management system </li>
            </ul>
            <div>
                <app-skill-pill [Skills]="['Java', 'JSF']"></app-skill-pill>
            </div>
        </div>
    </div>

    <div class="activity">
        <div class="header">
            2016 - 2017
        </div>
        <div class="main">
            <div>Teaching & Research Assistant, Kwame Nkrumah University of Science and Technology</div>
            <ul>
                <li>Organize and conduct tutorials for students</li>
                <li>Advise and assist final year students on their project works </li>
                <li>Implemented the design and development of a tool for securing cloud data as part of a research work</li>
            </ul>
            <div>
                <app-skill-pill [Skills]="['Java']"></app-skill-pill>
            </div>
        </div>
    </div>

    <div class="activity">
        <div class="header">
            2016 - 2016
        </div>
        <div class="main">
            <div>IT Assistant Officer, Vodafone Ghana, Kumasi (Internship)</div>
            <ul>
                <li>Provided helpdesk support for the various departments at the Adum branch</li>
                <li>Set up the Suame new branch with Server, computers and network cables to prepare the place for operations </li>
                <li>Troubleshooted and serviced computers at the Internet Café </li>
            </ul>
            <div>
                <!-- <app-skill-pill [Skills]="['Java']"></app-skill-pill> -->
            </div>
        </div>
    </div>

    <div class="activity">
        <div class="header">
            2015 - 2015
        </div>
        <div class="main">
            <div>Data Analyst Assistant, Social Security and National Insurance Trust, Accra (Internship)</div>
            <ul>
                <li>Provided helpdesk support for the various departments at the Adum branch</li>
                <li>Set up the Suame new branch with Server, computers and network cables to prepare the place for operations </li>
                <li>Troubleshooted and serviced computers at the Internet Café </li>
            </ul>
            <div>
                <!-- <app-skill-pill [Skills]="['Java']"></app-skill-pill> -->
            </div>
        </div>
    </div>
    
</div>
