
main {
  overflow-y: auto;
}
ul {
  list-style: none;
}
li {
  color: #fff;
}
aside {
  border-right:  1px solid #ededed;
  background: #36c;
  flex: 1 0 40%;//flex-grow flex-shrink flex-basis; flex-basis sets the initial size of flex container
  padding: 1rem;

}
.wrapper {
  display: flex;
  height: 100%;
}
@media (max-width: 500px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
}
.wrapper_inner {
  width: 90%;
  margin: 0px auto;
}

.full-name{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

:host ::ng-deep .particles-js-canvas-el{
    position: fixed;
    top: 0;
    z-index: -1;
  }
