<div class="container">
    <div class="project">
        <div class="img">
            <img src="assets/img/ika2-min.png" />
        </div>
        <div class="details">
            <div class="info">
                A mobile app that helps users find their ideal property to rent/buy based on their budget

            </div>
            <app-skill-pill [Skills]="['Dart', 'Flutter']"></app-skill-pill>
        </div>
    </div>

    <div class="project">
        <div class="img">
            <img src="assets/img/ams-min.png" />
        </div>
        <div class="details">
            <div class="info">Agency banking solution for the Bank</div>
            
            <app-skill-pill [Skills]="['C#', 'ASPNET MVC']"></app-skill-pill>
        </div>
    </div>

    <div class="project">
        <div class="img">
            <img src="assets/img/lyen-min.png" />
        </div>
        <div class="details">
            <div class="info">Inventory system to help manage and run store with multiple outlets</div>
            
            <app-skill-pill [Skills]="['C#', 'Blazor']"></app-skill-pill>
        </div>
    </div>
    <div class="go"> <a [routerLink]="['/archive']">View All projects</a> <i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
</div>
